body {
    padding:0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color:#D3D3D3;
}

/*  Nav bar styling */
.header {
    background-color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header ul {
    float: right;
    display: inline-flex;
    list-style-type: none;
    margin-top: 8px;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 15px;
}

#name {
    background-color:green;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    line-height: 4rem;
    margin-bottom: 0;
    margin-left: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.nav {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    text-transform: uppercase;
    font-size: 18px;
}
#nav-links {
    justify-content: right;
}

#nav-links a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

#nav-links:hover {
  bottom: black;
}

#nav-links a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.5s;    
}


/* About page styling */
#about-card{    
    margin: 10px;
    padding: 25px;
}



/* Body with card funnels Portfolio page */
.container {
    background-color: white;
    margin: 25px;
    padding: 10px;
    width: 70%;
}

.projects{
    width: 60%;
}

#card {
    border: none;
    padding: 10px;
    line-height: 10px;
}

.img {
    width: 250px;
    height: 200px;
    margin: auto;
    display: block;
}

.text-block {
    position: absolute;
    bottom: 20px;
    width: 250px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    background-color: seagreen;
    color: white;
}
/* Contact page */
.container-form {
    background-color: white;
    margin: 25px;
    padding: 10px;
    width: 70%;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: black;
    text-align: center;
 }
 
 @media (max-width: 640px) {
    .header {
        width: 100%;
        font-size: 15px; 
        text-align:center;
        padding: 0;
    }

    #name {
        padding: 0;
        margin: 0;
        width: 100%
    }

    #nav-links {
        justify-content:center;
        background-color:white;
        width: 100%;
        margin: 0;
        padding:0;    
    }
    .portfolio{
        text-align: center;
    }

    .container {
        text-align: center;
        display:inline-block; 
        width: auto; 
    }
    .img {
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-form {
        display:inline-block; 
         
    }
}


@media (min-width: 768px) {
  
 .portfolio{
        text-align: center;
    }

    .container {
        text-align: center;
        display:inline-block; 
        width: auto; 
    }
    .img {
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-form {
        display:inline-block; 
         
    }
}

